<body>
  <main>

      <!--イントロ-->
      <div class="intro">
        <h1>魔王</h1>
        <p>はっはっはっはっ</p>
        <p>ようこそ我が城へ</p>
      </div>

      <!--ジャンル別で探す-->
      <div class="genre">
        <div class="genre-header">
          <p>ジャンル</p>
        </div>
        <div class="genre-body">
          <ul>
            <li><a href="#">SF</a></li>
            <li><a href="#">歴史</a></li>
            <li><a href="#">ミステリー</a></li>
            <li><a href="#">恋愛</a></li>
            <li><a href="#">SF</a></li>
            <li><a href="#">SF</a></li>
          </ul>
        </div>
      </div>

      <!--おすすめ-->
      <div class="pickup">
        <div class="pickup-header">
          <p>おすすめ</p>
        </div>
        <div class="pickup-body">
          <div class="pick NO.1">
            <a href="#">NO.1</a>
            <p></p>
          </div>
          <div class="pick NO.2">
            <a href="#">NO.2</a>
            <p></p>
          </div>
          <div class="pick NO.3">
            <a href="#">NO.3</a>
            <p></p>
          </div>
        </div>
      </div>

      <!--投稿しよう-->
      <div class="try">
        <a href="#">投稿しよう</a>
      </div>

  </main>
</body>
