<body>
  <main>
    <div class="btn-wrapper">
     <a href="#">新規作成</a>
    </div>
    <div class="text-wrapper">
      <div class="text">
        <p>これは</p>
        <p>新規作成</p>
        <p>です</p>
      </div>
    </div>
    <div class="btn-wrapper">
     <a href="#">上書き</a>
    </div>
    <div class="text-wrapper">
      <div class="text">
        <p>これは</p>
        <p>上書き</p>
        <p>です</p>
      </div>
    </div>
  </main>
</body>
