<body>
  <main>
    <div class="top-wrapper">
      <h1>ログイン</h1>
    </div>
    <div class="form-wrapper">
      <% if @error_message %>
        <div class="form-error">
          <%= @error_message %>

        </div>
      <% end %>

      <%= form_tag("/login") do %>
      <div class="form-group">
        <p>メールアドレス</p>
        <input type="email" name="email" value="<%= @email %>">
      </div>
      <div class="form-group">
        <p>パスワード</p>
        <input type="password" name="password" value="<%= @password %>">
      </div>
      <div class="form-group">
        <input class="form-signup" type="submit" name="commit" value="ログインする">
      </div>
      <% end %>
    </div>
  </main>
</body>
