
 <div class="agreement-container">
   <h1>利用規約</h1>
   <p>本利用規約（以下「本規約」と言います。）には、本サービスの提供条件及び当社とユーザーの皆様との間の権利義務関係が定められています。本サービスの利用に際しては、本規約の全文をお読みいただいたうえで、本規約に同意いただく必要があります。</p>
   <h3>第１条（適用）</h3>
   <ol>
     <li>本規約は，ユーザーと当社との間の本サービスの利用に関わる一切の関係に適用されます。</li>
     <li>当社は本サービスに関し，本規約のほか，ご利用にあたってのルール等，各種の定め（以下，「個別規定」といいます。）をすることがあります。これら個別規定はその名称のいかんに関わらず，本規約の一部を構成するものとします。</li>
     <li>本規約の規定が前条の個別規定の規定と矛盾する場合には，個別規定において特段の定めなき限り，個別規定の規定が優先されるものとします。</li>
   </ol>
   <h3>第２条（定義）</h3>
   <p>本規約において使用する以下の用語は、各々以下に定める意味を有するものとします。</p>
   <ol>
     <li>「本サービス」とは、当社が提供するサービス「」（理由の如何を問わずサービスの名称または内容が変更された場合は、当該変更後のサービスを含みます。）を意味します。</li>
     <li>「本サイト」とは、本サービスのために当社が運営するウェブサイト「」をいいます。</li>
     <li>「当社」とは、「」を意味します。</li>
     <li>「投稿データ」とは、ユーザーが本サービスを利用して投稿その他送信するコンテンツ（文章、画像、動画その他のデータを含みますがこれらに限りません。）を意味します。</li>
     <li>「ユーザー」とは、本サービスを利用する個人または法人を意味します。</li>
     <li>「登録ユーザー」とは、第3条（登録）に基づく登録をした個人または法人を意味します。</li>
     <li>「知的財産権」とは、著作権、特許権、実用新案権、意匠権、商標権その他の知的財産権（それらの権利を取得し、またはそれらの権利につき登録等を出願する権利を含みます。）を意味します。</li>
   </ol>
   <h3>第３条（登録）</h3>
   <h3>第４条（登録事項の変更）</h3>
   <h3>第５条（登録メールアドレス及びパスワードの管理）</h3>
   <h3>第６条（利用環境の整備）</h3>
   <h3>（退会）</h3>
   <h3>（利用制限）</h3>
   <h3>（禁止事項）</h3>
   <h3>（本規約・サービス  等の変更）</h3>
   <h3>（免責事項）</h3>
   <h3>（登録抹消等）</h3>
   <h3>（当社からの通知）</h3>
   <h3>（分離可能性）</h3>
   <h3>（準拠法及び管轄裁判所）</h3>

 </div>
