<body>
  <main>
    <div class="howto">
      <div class="howtosentence">
          <h2>使い方</h2>
          <p>あーだこーだあーだこーだ</p>
      </div>
    </div>
    <div class="read">
      <a href="posts/index" class="btnread">作品を読む</a>
    </div>
    <div class="write">
      <a href="/write" class="btnwrite">投稿をする</a>
    </div>
  </main>
</body>
