<body>
  <main>
    <div class="howto">
      <div class="howtosentence">
          <h2>使い方</h2>
          <p>「〇〇」は誰でも小説を気軽に投稿できる無料サイトです！</p>
          <p>投稿の仕方は２種類あります！</p>
          <p>①新規投稿：一から創り上げたものを投稿</p>
          <p>②上書き投稿：誰かの作品を上書きして投稿</p>
          <p></p>
          <p>作品を読みながら自由に展開を変えられます！</p>
          <p>上書きしても元の作品はなくならないので、どんどん上書きしましょう！
      </div>
    </div>
    <div class="read">
      <a href="posts/index" class="btnread">作品を読む</a>
    </div>
    <div class="write">
      <a href="/write" class="btnwrite">投稿をする</a>
    </div>
  </main>
</body>
