<body>
  <main>
    <div class="new-top-wrapper">
      <h1>新規作成</h1>
    </div>
    <div class="title">
      <p>タイトル</p>
      <div class="title-input"><input type="text" class="abc"></div>
    </div>
    <div class="contents">
      <p>コンテンツ</p>
      <textarea name="nakmi" rows="20" cols="100"></textarea>
    </div>
    <input class="submit" type="submit" value="投稿する">
  </main>
</body>
