<body>
  <main>
  <!--おすすめ-->
    <div class="recommend-pickup">
      <div class="recommend-pickup-header">おすすめ</div>
      <div class="recommend-pickup-body">
        <div class="NO1">
          <a href="#">NO.1</a>
          <p></p>
        </div>
        <div class="NO2">
          <a href="#">NO.2</a>
          <p></p>
        </div>
        <div class="NO3">
          <a href="#">NO.3</a>
          <p></p>
        </div>
      </div>
    </div>
  </main>
</body>
