<body>
  <main>
    <div class="top-wrapper">
      <h1>ユーザー登録（無料）</h1>
    </div>
    <div class="form-wrapper">
      <div class="form-group">
        <p>名前</p>
        <input type="text" name="user-name" value="">
      </div>
      <div class="form-group">
        <p>メールアドレス</p>
        <input type="email" name="user-email" value="">
      </div>
      <div class="form-group">
        <p>パスワード</p>
        <input type="password" name="user-password" value="">
      </div>
      <div class="form-group">
        <p>パスワードの確認</p>
        <input type="password" name="user-password-confirmation" value="">
      </div>
      <div class="userpolicy">
        <a href="userpolicy.html">利用規約を確認する</a>
      </div>
      <div class="form-group">
        <input class="form-signup" type="submit" name="commit" value="利用規約に同意して登録する">
      </div>
  </div>
  </main>
</body>
