<body>
  <main>
    <div class="btn-wrapper">
     <%= link_to("新規投稿", "/posts/new") %>
    </div>
    <div class="text-wrapper">
      <div class="text">
        <p>これは</p>
        <p>新規作成</p>
        <p>です</p>
      </div>
    </div>
    <div class="btn-wrapper">
     <%= link_to("編集投稿", "/posts/search") %>
    </div>
    <div class="text-wrapper">
      <div class="text">
        <p>これは</p>
        <p>上書き</p>
        <p>です</p>
      </div>
    </div>
  </main>
</body>
