
<div class="main posts-index">
  <div class="container">
    <% @posts.each do |post| %>
      <div class="posts-index-item">
        <%= link_to(post.content,"/posts/#{post.id}")%>
      </div>
      <div class="posts-user-name">
        <%= link_to(post.user.name, "/users/#{post.user.id}") %>
      </div>
    <% end %>
  </div>
</div>
