
<div class="main posts-index">
  <div class="container">
    <% @posts.each do |post| %>
    <div class="work">
      <div class="posts-index-title">
        <%= link_to(post.title,"/posts/#{post.id}")%>
      </div>
      <div class="posts-index-category  ">
        <%= link_to(post.category,"/posts/#{post.id}")%>
      </div>
      <div class="posts-index-content">
        <%= link_to(post.content,"/posts/#{post.id}")%>
      </div>
    </div>
    <% end %>
  </div>
</div>
