<body>
  <main>
    <div class="search-category">
      
      <div class="search-category-header">カテゴリー</div>
      <div class="search-category-body">
        <ul>
          <li><a href="/posts/love">恋愛</a></li>
          <li><a href="/posts/society">社会・現代</a></li>
          <li><a href="/posts/mystery">ミステリー</a></li>
          <li><a href="/posts/fantasy">ファンタジ</a></li>
          <li><a href="/posts/novel">文芸</a></li>
          <li><a href="/posts/history">歴史・時代</a></li>
          <li><a href="/posts/gosip">ゴシップ</a></li>
          <li><a href="/posts/others">その他</a></li>
        </ul>
      </div>
    </div>
  <!--おすすめ-->
    <div class="search-pickup">
      <div class="search-pickup-header">おすすめ</div>
      <div class="search-pickup-body">
        <div class="NO1">
          <a href="#">NO.1</a>
          <p></p>
        </div>
        <div class="NO2">
          <a href="#">NO.2</a>
          <p></p>
        </div>
        <div class="NO3">
          <a href="#">NO.3</a>
          <p></p>
        </div>
      </div>
    </div>
  </main>
</body>
