// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}


main{
  text-align: center;
}

/* home/top　================================ */
.top-container{
  width: 100%;
}

.intro{
  width: 50%;
  height: 250px;
  margin: auto;
  margin-top: 40px;
  border: 1px solid #7fbfff;
  border-radius: 10px;
  text-align: center;
}

.intro h1{
  font-size: 20px;
}

.intro p{
  width: auto;
}

.genre {
	width:18%;
  height: 250px;
	margin-left:5%;
  margin-top: 30px;
  border: 1px solid #7fbfff;
  border-radius: 10px;
	float:left;
}

.genre-header {
  height: 35px;
  border-bottom: 1px solid #7fbfff;
  text-align: center;
  font-size: 18px;
}

.genre-header p{
  margin: auto;
  line-height: 35px;
}

.genre-body{
  height: 205px;
}

.genre-body li{
  margin-right: 20%;
  list-style: none;
}

.pickup{
  width: 65%;
  height: 250px;
  margin-left: 28%;
  margin-top: 30px;
  margin-right: 7%;
  border: 1px solid #7fbfff;
  border-radius: 15px;
}

.pickup-header{
  height: 35px;
  text-align: center;
  font-size: 18px;
  margin-top: 5px;
}
.pickup-header p{
  margin: auto;
  line-height: 35px;
}

.pickup-body{
  width: 100%;
  display: inline-block;
  height: 205px;
  padding: 0px 30px;
}

.pick{
  width: 25%;
  float: left;
  background-color: #e0efff;
  padding: 10px;
  height: 170px;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid #c6e2ff;
  border-radius: 5px;
}
.pick a {
  color: black;
}

.try {
  width: 100%;
  height: 60px;
  text-align: center;
  margin-top:20px;
  margin-bottom: 20px;
}

.try a{
  font-size: 20px;
  line-height: 60px;
  padding: 5px;
  border: 1px solid #7fbfff;
  border-radius: 10px;
}

/* home/howto　================================ */

.howto {
  height: 350px;
}

.howtosentence {
  margin: auto;
  width:70%;
  border: 1px solid #7fbfff;
  border-radius: 20px;
  margin-top: 30px;
}

.read {
  height: 100px;
  width: 100%;
  display: block;
  margin-top: 30px;
}

.write {
  height: 100px;
  width: 100%;
  display: block;
}

.btnread {
  font-size: 25px;
  border: 1px solid #7fbfff;
  border-radius: 10px;
  line-height: 30px;
  padding: 5px 20px;
  width: 10%;
  height: 30px;
  margin: auto;
}

.btnwrite {
  font-size: 25px;
  border: 1px solid #7fbfff;
  border-radius: 10px;
  line-height: 30px;
  padding: 5px 20px;
  width: 10%;
  height: 30px;
}

/* 新規作成　================================

.new-top-wrapper{
  height: 30px;
  width:50px;
  display:inline-block;
  text-align: center;
}

.new-top-wrapper h1{
  font-size: 25px;
}

.title p{
  font-size: 15px;
  margin-top: 30px;
  margin-bottom: 0px;
}

.title-input{
}

.abc{
  height: 20px;
}

.contents p{
  font-size: 15px;
  margin-top: 30px;
  margin-bottom: 0px;
}

.form-signup {
  margin-top: 20px;
}*/



/* home/write　================================ */

.btn-wrapper {
  height: 15%;
  padding: 20px ;
  margin-top: 20px;
}

.btn-wrapper a {
  border: 1px solid #7fbfff;
  border-radius: 10px;
  padding: 5px 15px;
  font-size: 20px;
  width: 10%;
}

.text-wrapper {
  height: 40%;
}

.text {
  border: 1px solid #7fbfff;
  border-radius: 20px;
  width: 70%;
  margin: auto;
}

/* agreement　================================ */
.agreement-container{
  width: 70%;
  margin: auto;
}

.agreement-container h1{
  text-align: center;
}
