// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

main{
  height: 550px;
  text-align: center;
}


/* home/top　================================ */

.intro{
  width: 30%;
  height: 150px;
  margin: auto;
  margin-top: 40px;
  border: 1px solid #7fbfff;
  border-radius: 10px;
  text-align: center;
}

.intro h1{
  font-size: 20px;
}

.intro p{
  width: auto;
}

.genre {
	width:160px;
  height: 230px;
	margin:30px 10px 10px 25px;
  border: 1px solid #7fbfff;
  border-radius: 10px;
	display:inline;
	float:left;
}

.genre-header {
  height: 25px;
  border-bottom: 1px solid #7fbfff;
  text-align: center;
  font-size: 18px;
}

.genre-header p{
  margin: auto;
}

.genre-body{
  text-align: center;
}

.genre li{
  width: 90px;
  margin-right: auto;
  list-style: none;
}

.pickup{
  width: 1000px;
  height: 230px;
  float: right;
  margin-top: 30px;
  margin-right: 40px;
  border: 1px solid #7fbfff;
  border-radius: 15px;
}

.pickup-header{
  height: 30px;
  text-align: center;
  font-size: 18px;
}

.pickup-body{
  height: 170px;
  float: left;
  padding: 0px 30px;
}

.pick{
  float: left;
  width: 250px;
  background-color: #e0efff;
  padding: 10px;
  height: 100px;
  margin: 10px 20px;
  border: 1px solid #c6e2ff;
  border-radius: 5px;
}
.pick a {
  color: black;
}

.try {
  float: left;
  width: 100%;
  height: 80px;
  padding-top: 50px;
  text-align: center;
}

.try a{
  font-size: 20px;
  border: 1px solid #7fbfff;
  border-radius: 10px;
  padding: 10px 30px;
  margin-top: 80px;
}

/* home/howto　================================ */

.howto {
  height: 350px;
}

.howtosentence {
  border: 1px solid #7fbfff;
  border-radius: 20px;
  margin: 100px 100px;
}

.read {
  height: 100px;
  width: 100%;
  display: block;
}

.write {
  height: 100px;
  width: 100%;
  display: block;
}

.btn {
  border: 1px solid #7fbfff;
  border-radius: 10px;
  line-height: 30px;
  padding: 5px 20px;
  width: 100px;
  height: 30px;
  margin: auto;
}

/* 新規作成　================================

.new-top-wrapper{
  height: 30px;
  width:50px;
  display:inline-block;
  text-align: center;
}

.new-top-wrapper h1{
  font-size: 25px;
}

.title p{
  font-size: 15px;
  margin-top: 30px;
  margin-bottom: 0px;
}

.title-input{
}

.abc{
  height: 20px;
}

.contents p{
  font-size: 15px;
  margin-top: 30px;
  margin-bottom: 0px;
}

.form-signup {
  margin-top: 20px;
}*/



/* home/write　================================ */

.btn-wrapper {
  height: 10%;
  padding-top: 20px;
}

.btn-wrapper a {
  border: 1px solid #7fbfff;
  border-radius: 10px;
  padding: 5px 20px;
  font-size: 20px;
  display: inline-block;
  width: 100px;
}

.text-wrapper {
  height: 40%;
}

.text {
  border: 1px solid #7fbfff;
  border-radius: 20px;
  width: 70%;
  margin: auto;
}
